body {
  margin: 0;
  padding: 0;
}

video{
  position: absolute;
  z-index: -1;
}

#canva{
  position: absolute;
}

.keypoints{
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: cyan;
  z-index: 99;
}